body{
    background-color:rgb(115, 63, 63);
}
header>h1{
    text-align: center;
    font-style: italic;
}

.sectionBtn{
    display: flex;
    justify-content: center;
    gap: 30px;
}

main{
    margin-top: 50px;
    display: flex;
    justify-content: center;


}
#mainContainer{
        border: 1px solid black;
    width: 700px;
    height: 300px;
    background-color: white;
    box-shadow: 5px 5px 10px black;
    overflow: scroll;
    display: none;

}

aside{
    margin-left: 20px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    
}
#formContainer{
display: none;
}
form{
    width: 600px;
    height: 300px;
     border: 1px solid black;
    display: grid;
    grid-template-columns: 300px 300px ;
    grid-template-rows: 70px 70px 70px 70px;
}
label{
    display: block;
}
form >div{
    margin-left: 70px;
}
.one{
    grid-column: 1;
    grid-row: 2;
}
.two{
    grid-column: 2;
    grid-row: 2;
}
.three{
    grid-row: 3;
    grid-column:1 ;
}
.four{
    grid-row: 3;
    grid-column:2 ;
}
.five{
    grid-row: 4;
    grid-column:1 ;
}
.fiveLabel{
    display: inline;
}
#submit{
    grid-column: 2;
    grid-row: 4;
    width: 70px;
    height: 30px;
    margin-left: 70px;
}
#add{

    margin-left: 20px;
    width: 70px;
    height: 30px;
}
legend{
grid-column: 1/3;
text-align: center;
margin-top: 20px;
}
